*{
    margin: 0;
    padding: 0;
}

@keyframes dropdown{
    from{height: 0px;padding-top: 0%;padding-bottom: 0%;opacity: 0%;}
    to{height: 30px;}
}

body{
    background-color: rgba(255,0,0,20%);
    font-family: salsa;
}

a{
    text-decoration: none;
    color: black;
}

.navi{
    background-color: rgb(58, 193, 255);;
    margin-top: 3px;
}

.menul{
    display: flex;
    justify-content: center;
}

.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    padding: 1vw;
    font-size: 1.3vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.menu:hover{
    background-color: rgb(44, 187, 44);
}

.linkul li{
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    
}

.submenu{
    position: absolute;
    display: block;
    margin-top: 15px;
    /* border: 3px solid black; */
}
.submenu li{
    display: none;
    height: 0px;
    /* border: 3px solid black; */
}

.menu:hover .submenu li{
    display: flex;
    animation-name: dropdown;
    animation-duration: 0.5s;
    padding: 10px 27.5px 10px 27.5px ;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: -30px;
}

.menu .submenu li:hover{
    background-color: rgb(254, 214, 255);
}

.linkul{
    list-style: none;
    display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Salsa&display=swap');

.Head{
    font-size: 50px;
    text-align: center;
    color: red;
}

.post-content{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    /* width: 1200px; */
}